@import "reset";
$main-shadow:#5d5d5fbc 0px 0px 15px 0px;
$main-border-r: 10px;
$main-danger: #f56262;
$main-success: #14c414;
* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todolist {
    width: 100%;
    max-width: 480px;
    height: 700px;
    box-shadow: $main-shadow;
    border-radius: $main-border-r;
    padding: 20px;
}

.todolist__controller {
    width: 100%;
    height: 200px;
    box-shadow: $main-shadow;
    border-radius: $main-border-r;
}

form {
    padding: 20px;
    display: flex;
    gap: 0 10px;
}

.todolist__input-wrapper {
    box-shadow: $main-shadow;
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: $main-border-r;
    overflow: hidden;
    input {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        text-indent: 10px;
    }
    i {
        color: $main-danger;
        margin: 0 10px;
        cursor: pointer;
    }
}

.todolist__adder-btn {
    padding: 0 20px;
    border-radius: $main-border-r;
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: $main-success;
}

.todolist__actions {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
    button {
        background-color: $main-danger;
        color: #fff;
        border-radius: $main-border-r;
        border: none;
        padding: 16px 24px;
        font-size: 18px;
    }
    select {
        color: #fff;
        font-size: 18px;
        padding: 16px 24px;
        border-radius: $main-border-r;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: dodgerblue;
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 17px;
        outline: none;
        width: 150px;
    }
}

button,
select {
    transition: 0.3s;
    opacity: 0.9;
    cursor: pointer;
}

button:hover,
select:hover {
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}

.todolist__task-container {
    height: 380px;
    margin-top: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.todolist__task-container:has(b) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgba(128, 128, 128, 0.701);
}

.todolist__task-container>b {
    pointer-events: none;
    user-select: none;
}

.todolist__task-container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.todolist__task-container::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 5px;
}

.todolist__search {
    box-shadow: $main-shadow;
    border-radius: $main-border-r;
    height: 50px;
    overflow: hidden;
    margin: 15px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    input {
        font-size: 20px;
        height: 100%;
        border: none;
        flex: 1;
        outline: none;
    }
    i {
        color: $main-danger;
    }
}

.todolist__item {
    background-color: #fff;
    box-shadow: $main-shadow;
    padding: 20px;
    border-radius: $main-border-r;
    strong {
        word-break: break-all;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
        display: block;
        padding: 10px;
        border-radius: $main-border-r;
    }
}

// .todolist__item:first-child{
//   animation: bounce 0.5s;
// }
// @keyframes bounce {
//   0% {
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
//   }
//   25% {
//     -webkit-transform: scale(0.7);
//     transform: scale(0.7);
//   }
//   50% {
//     -webkit-transform: scale(1.05);
//     transform: scale(1.05);
//   }
//   75% {
//     -webkit-transform: scale(0.8);
//     transform: scale(0.8);
//   }
//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//   }
// }
.todolist__item-btns {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin-top: 10px;
    button {
        width: 100px;
        padding: 10px 0;
        border-radius: $main-border-r;
        border: none;
        color: #fff;
        position: relative;
        &:first-child {
            background-color: $main-success;
        }
        &:nth-child(2) {
            background-color: gold;
        }
        &:nth-child(3) {
            background-color: dodgerblue;
            .item-date {
                position: absolute;
                padding: 5px;
                font-size: 13px;
                color: #fff;
                top: -35px;
                left: 50%;
                border-radius: 5px;
                transition: 0.2s;
                opacity: 0;
                transform: translateX(-50%) scale(0.9);
                background-color: #222222ae;
            }
            &:hover .item-date {
                opacity: 1;
                transform: translateX(-50%) scale(1);
            }
        }
        &:last-child {
            background-color: $main-danger;
        }
    }
}

.completed-item {
    background-color: $main-success;
    color: #fff;
    text-decoration: line-through;
}

.input-btn {
    padding: 0 15px;
}